@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-color: #fff;
    --btn-color: #00ccff;
    --card-color: #f2f2f2;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    color: var(--font-color);
    background-color: var(--btn-color);
    padding: 20px;
}

header h1{
    font-size: 2.5rem;
}

.new-client{
    display: flex;
    justify-content: end;
}

/* btn add */
#newClient{
    color: var(--font-color);
    background-color: var(--btn-color);
    width: 40px;
    height: 40px;
    font-size: 25px;
    padding: 0;
    margin-top: 10px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

#newClient:hover{
    box-shadow: black 0 0 3px;
}

/* modal */
#modal, #editClient{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-newClient, .edit {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.modal-newClient, .edit{
    position: relative;
}

.client-data, .formEdit{
    display: flex;
    flex-direction: column;
}

.client-data p, .formEdit p{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 15px 0;
}

/* inputs */
.client-data input, .formEdit > input{
    width: 80%;
    background-color: #f2f2f2;
    border: 0;
    border-radius: 10px;
    padding: 15px 10px;
    padding-left: 15px;
    margin: 10px auto;
}

input:invalid{
    background-color: #ff9999;
    outline: #ff0000 solid 2px;
    animation: input-animation .1s ;
}

input:valid{
    outline: #00ccff solid 2px;
}

@keyframes input-animation {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(10px);
    }
    50%{
        transform: translateX(-10px);
    }
}

/* btns add e cancel */
.btn-cancel,.btn-add{
    width: 80%;
    font-weight: 600;
    padding: 10px 0;
    margin: 0 auto;
    margin-top: 5px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.btn-cancel{
    color: #808080;
    background-color: #fff;
    border: #808080 solid 2px;
}

.btn-cancel:hover{
    transition: .3s;
    color: var(--font-color);
    background-color: #808080;
}

.btn-add{    
    color: var(--font-color);
    background-color: #00ccff;
    margin-bottom: 10px;
}

.btn-add:hover{
    transition: box-shadow .3s;
    box-shadow: #00ccff 0 0 10px;
}

/* hide components */
.desative{
    display: none;
}

.active{
    display: flex;
}


/* div empty */
#empty{
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}

/* btn close */
.close{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: #ff0000 solid 2px;
    position: absolute;
    top: 10px; 
    right: 10px;
    cursor: pointer;
}

.close::after{
    content: "";
    width: 20px;
    height: 2px;
    background-color: #ff0000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.close::before{
    content: "";
    width: 20px;
    height: 2px;
    background-color: #ff0000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.close:hover{
    transition: .3s;
    background-color: #ff0000;
    border: #ff0000 solid 2px;
    box-shadow: #ff0000 0 0 3px;
}

.close:hover::after{
    background-color: #e6e6e6;
    position: absolute;
}
.close:hover::before{
    background-color: #e6e6e6;
    position: absolute;
}

/* cards */
.client{
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: var(--card-color);
}

.customer-information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.customer-information p{
    font-size: 1rem;
    font-weight: 600;
    padding: 0 15px;
    margin: 5px 0;
}

.btn-delete-edit{
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-top: 10px;
    padding-right: 15px;
}

.btn-delete-edit button{
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-edit{
    color: #808080;
    border: #808080 solid 2px;
}

.btn-edit:hover{
    transition: .3s;
    color: var(--font-color);
    background-color: #808080;
    border: transparent solid 2px;
    box-shadow: #808080 0 0 3px;
}

.btn-delete{
    color: #ff0000;
    border: #ff0000 solid 2px;
}

.btn-delete:hover{
    transition: .3s;
    color: var(--font-color);
    background-color: #ff0000;
    border: transparent solid 2px;
    box-shadow: #ff0000 0 0 3px;
}
main{
    width: 90%;
    margin: 0 auto;
}

/* top bar */
#topBar{
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.card-topBar{
    min-width: 180px;
    color: var(--font-color);
    background-color: var(--btn-color);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

.card-topBar:hover{
    transition: .3s;
    box-shadow: gray 0 3px 3px;
    transform: translateY(-4px);
}